*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#f7f4f2;
overflow-x:hidden;
}

.page{
width:100%;
height:100vh;
display:none;
justify-content:center;
align-items:center;
padding:20px;
}

.show{
display:flex;
animation:fade .8s;
}

@keyframes fade{
from{
opacity:0;
transform:scale(.95);
}
to{
opacity:1;
transform:scale(1);
}
}

.cover{

width:380px;
height:760px;

background:white;

border-radius:35px;

box-shadow:0 15px 40px rgba(0,0,0,.15);

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

position:relative;

overflow:hidden;

}

.cover::before{

content:"";

position:absolute;

width:180%;

height:180%;

background:
radial-gradient(circle,
rgba(255,255,255,.8),
rgba(240,240,240,.6));

transform:rotate(20deg);

}

.cover h1{

position:relative;

font-family:'Great Vibes',cursive;

font-size:65px;

color:#9d1f2d;

text-align:center;

z-index:2;

}

.heart{

font-size:34px;

color:#b3122f;

margin-bottom:20px;

z-index:2;

}

button{

margin-top:40px;

padding:15px 45px;

font-size:22px;

border-radius:50px;

border:2px solid #b3122f;

background:white;

color:#b3122f;

cursor:pointer;

transition:.3s;

z-index:2;

}

button:hover{

background:#b3122f;

color:white;

}

.cover p{

margin-top:25px;

color:#9d1f2d;

z-index:2;

}

.ribbon{

position:absolute;

bottom:-20px;

left:-20px;

width:120%;

height:120px;

background:linear-gradient(90deg,#8b0000,#d01d34);

transform:rotate(-8deg);

border-radius:60px;

}

.card{

width:390px;

background:white;

border-radius:30px;

padding:20px;

box-shadow:0 20px 40px rgba(0,0,0,.15);

}

.frame{

border:2px solid #b3122f;

border-radius:25px;

padding:18px;

text-align:center;

}

.kids{

width:100%;

border-radius:18px;

margin-bottom:15px;

}

.small{

font-size:20px;

color:#8a1f29;

}

h2{

font-family:'Great Vibes',cursive;

font-size:55px;

color:#a3162b;

}

.names{

font-family:'Great Vibes',cursive;

font-size:65px;

color:#8b1125;

line-height:1.1;

margin:15px 0;

}

.info{

display:flex;

justify-content:space-between;

margin:20px 0;

font-size:18px;

color:#444;

}

.location{

font-size:21px;

margin-bottom:25px;

font-weight:600;

}

.bottom{

display:flex;

justify-content:space-between;

align-items:center;

}

#maps{

text-decoration:none;

background:#fff;

border:2px solid #b3122f;

padding:12px 18px;

border-radius:15px;

color:#b3122f;

font-weight:bold;

}

.qr{

width:120px;

height:120px;

}

@media(max-width:430px){

.cover,

.card{

width:100%;

}

.names{

font-size:58px;

}

}
